page-main {
   ion-content{
     background-image: url('../assets/imgs/page1-bg.png');
     background-position: center;
     background-size: contain;
  }
  .scroll-content {
    overflow: hidden;
  }
  #grid1{
    height: 25px;
    background-image: url('../assets/imgs/DirtyDogTracker.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 35%;
   }
   .buttons{
     margin-top: 230px;
   }
   button{
     width: 280px;
   }
   span{
     font-size: 12px;
   }
 p{
  color: white;
  font-weight: normal;
}

}
