page-home {
    #title{
      font-weight: normal;
      font-size: 16px;
      text-align: left;
      margin-left: 45px;
      color: white;
      opacity: 0.7;
    }
    ion-content{
      margin-top: 5px;
      background-image: url('../assets/imgs/page3-bg.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: fixed;
    }

}
